body {
  max-width: max-content;
  margin: auto;
}

div.navbar-nav{
  border: 1px solid #DEDEDE;
  padding: 5px 16px;
}
div.navbar{
  border: 1px solid #DEDEDE;
  display: flex;
  justify-content: center;
  background-color: #FCFCFC;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.navbar li {
  float: left;
}

div.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navbar li a:hover {
  background-color: #F0F0F0;
}

div.center{
  background-color: #F8F8F8;
  padding: 5px 16px;
  overflow-wrap: break-word;
  margin: auto;
  text-align: 20% 20%;
  border: 1px solid lightgray;
}
div.show{
  padding: 10px 160px;
  overflow-wrap: break-word;
}
div.show li{
  margin-left: 50px;
}

div.flashes{
  text-align: center;
  margin: auto;
  background-color: lightseagreen;
}
div.search_content{
  text-align: center;

}
div.search_content li{
  margin: 10px 130px;
}

div.parent{
  border: 1px solid lightgray;
  margin: none;
  padding: 2px 2px;
}

div.child {
  display: inline-block;
  border: none
  padding: 1rem 1rem;
  vertical-align: middle;
}
div.child a{
  display: block;
  color: black;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}
div.child a:hover {
  background-color: #F0F0F0;
}