{% extends 'index.html' %}

{% block title %}New Movie{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
<div class=flashes>
    {% if messages %}
      <ul >
	      {% for message in messages %}
	        <li>{{ message }}</li>
	      {% endfor %}
      </ul>
	{% endif %}
{% endwith %}
</div>

	<h1>All the fields are mandatory</h1>
	<span style="color:red">
		{% if err %} {{ err }} {% endif %}
	</span>
    
    <form method="post" action="{{ url_for('actors.create') }}">
	    <label for="name">Name</label>
		    <br>
		    <input type="text" name="name"
		           placeholder="Actor name"
		           value="{{ request.form['name'] }}">
		    </input>
		    <br>

		<label for="url">URL</label>
		    <br>
		    <input type="text" name="url"
		           placeholder="Actor URL"
		           value="{{ request.form['url'] }}">
		    </input>
		    <br>

		<label for="filmography_movie_name">Filmography Movies</label>
		    <br>
		    <input type="text" name="filmography_movie_name"
		           placeholder="Movies Name"
		           value="{{ request.form['filmography_movie_name'] }}">
		    </input>
		    <br>

		<label for="filmography_movie_name">Filmography URL</label>
		    <br>
		    <input type="text" name="filmography_url"
		           placeholder="Movie URL"
		           value="{{ request.form['filmography_url'] }}">
		    </input>
		    <br>
		    <br>

	    <button type="submit">Submit</button>
    </form>

{% endblock %}

{# 	    			
<textarea name="content"
placeholder="Message content"
rows="15"
cols="60"
>{{ request.form['content'] }}</textarea>
 #}