{% extends 'index.html' %}

{% block title %}Actor Filmography{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
<div class=flashes>
    {% if messages %}
      <ul >
	      {% for message in messages %}
	        <li>{{ message }}</li>
	      {% endfor %}
      </ul>
	{% endif %}
</div>
{% endwith %}

<span style="color:red">
	{% if err %}
		{{ err }}
	{% endif %}
</span>

<div class="center">
    <div class="show">
	    <span> <a href="{{ url_for('actors.edit', id=actor.id) }}"><i>Edit Actor</i></a></span>
    <div>
    <div>
   	
    	<h1>{{ actor.name }}</h1>
    	<h3>Filmography</h3>
    	{% for item in actor.filmography %}
	    	<p>Movie Name: {{ item[0] }} <br>
	    		IBDM Source: <a href="{{ item[1] }}"> {{ item[1] }}  </a> </p>
    	{% endfor %}

	</div>

</div>
{% endblock %}
